@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ff4921;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-primary: color(display-p3 1 0.356 0.2183);
  }
}
